.body {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1,2fr);
  }
  
  .card-bodys {
    display: block;
    border: 2px solid black;
    padding: 20px;
    font-family: Arial;
    text-align: center;
    border-radius: 1rem;
    width: 20rem;
    /* margin-left: 90px; */
    margin-bottom: 5px;
    margin-top:50px;
  }
  
  .card-datas {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    color: black;
  }
  
  
  .addCarts {
      background-color: rgb(55, 0, 255);
      margin-top: 25px;
      width: 80%;
  }