*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #411fd4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 100px;
}

input[type=submit]:hover {
  background-color: #19d357;
}

form{
  width:300px;
  margin:10px auto 0px auto;
  border-radius: 5px;
  padding: 20px;
  
}
/* home */

.home{


  top: 10px;;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
 
}




.bg {
position: relative;
}
.bg{
  margin-top:-4.1%;
background-image: url("background.png");
background-size: cover;
width: 99%;
background-position: center;
height:90vh;
background-size: cover; 
display: flex;
align-items: center;
margin-bottom: 100px;

}
.it {
position: relative;
top: 25%;
color: black;
font-size: 25px;
margin-left: 200px;
}
.bg p{
position: relative;
color: black;
font-size: 30px;
margin-left: 200px;

}
.bg button{

width:50%;
background-color: rgb(126, 99, 54);
color: white;
padding: 10px 15px;
margin: 8px 8px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size:1.2em;
margin-top: 20px;
margin-left: 200px;
}


 h1{
margin-top:20px;
display: flex;
align-items: center;
justify-content: center;
/* padding: 10px 0px; */
color: red;

}


