header{
display: flex;
justify-content: space-between;
align-items: center; 
margin-top: 20px;
margin-left:0px;

width: 100%;
}

.navigation a {
top:1;
font-size:1.2em ;
color: black;
text-decoration: none;
font-weight: 500;
padding:40px;  
/* background-color:#65646b; */
}
nav a:hover {
color: red;
transition: all 0.4s ease 0s;
}
 
