
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
.regis h2{
    top:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #411fd4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 100px;
  }
  
  input[type=submit]:hover {
    background-color: #19d357;
  }
  
  form{
    width:300px;
    margin:10px auto 0px auto;
    border-radius: 5px;
    padding: 20px;
    
  }