.searchbar {
    float:left;
  }
  
  .searchbar input[type=text] {
    width:200px;
    font-size: 17px;
    border:black;
    /* display: grid; */
    /* position: relative; */
    justify-content: start;
    margin-top: 10px;
  }
  
  .searchbar button {
    float: top;
    margin-top: -50px;
    width: 90px;
    margin-right:800%;
    background:green;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .searchbar button:hover {
    background: #aa2e2e;
  }
  